{% from 'macros.jade' import testen %}
!!! 5
html(lang="de")
	head
		title Storycards
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='static/assets/ico/favicon.png')
		link(href='static/assets/css/bootstrap.min.css', rel='stylesheet')
		link(href='static/assets/css/bootstrap-theme.min.css', rel='stylesheet')
		link(href='static/assets/css/bootstrap-select.min.css', rel='stylesheet')
		link(href='static/assets/css/theme.css', rel='stylesheet')

	body
		include navigation
		block content
		include scripts
